.main {
    background: #101010;
    padding: 64px;
}

.input {
    outline: none;
    border: none;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
}

.flexer {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
}