@import "../../app/cm.module.css";

.main {
    --padding-x: 6px;
    --padding-y: 4px;

    @media(--from-320-viewport) {
        --padding-x: 12px;
        --padding-y: 8px;
    }

    @media(--from-375-viewport) {
        --padding-x: 18px;
        --padding-y: 12px;
    }

    background: var(--mantine-color-dark-9);
    padding: var(--padding-y) var(--padding-x);
    min-height: calc(100dvh - var(--header-height) - var(--padding-y) * 2);
}

.autogrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--emoji-card-min-width), 1fr));
    grid-gap: 32px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 32px 0;
}