.emoji {
    display: flex;
    flex-direction: column;
    background: var(--mantine-color-yellow-2);
    min-width: var(--emoji-card-min-width);
}

.notification {
    border-width: 1px;
    border-color: var(--mantine-color-gray-7)
}

.emojiIcon {
    display: grid;
    place-content: center;
    font-size: 48px;
    padding: 32px;
    text-align: center;
    transition: transform 200ms ease;
    flex-grow: 1;

    @mixin hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.emojiIconCarousel {
    display: grid;
    place-content: center;
    font-size: 48px;
    padding: 32px;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;

    @mixin hover {
        .emojiIconCarouselSlide {
            cursor: pointer;
            transform: scale(1.1);
        }

        .emojiIconCarouselControls {
            opacity: 1;
        }
    }
}

.emojiIconCarouselControls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.emojiIconCarouselSlide {
    transition: transform 200ms ease;
}

.texts {
    display: grid;
    place-content: center;
    background-color: var(--mantine-color-dark-6);
    padding: 8px 8px 12px;
    min-height: 112px
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--mantine-color-white);
    text-align: center;
}

.description {
    font-size: 18px;
    color: var(--mantine-color-gray-1);
    text-align: center;
}